body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;    
    text-align: center;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
}
nav h1 {
    font-size: 400%;
    color: white;
    z-index: 1;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
nav .ut {
    width: 100%;
}
nav .ut .motor {
    width: 100%;
    position: relative;
    animation-name: gyorsmotor;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
nav .ut .motor img {
    width: 10%;
    animation: fordulas;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
nav ul {
    display: flex;
    width: 100%;
    justify-content: right;
}
nav ul .menu {
    width: 33%;
}
nav ul li {
    list-style-type: none;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 300%;
}



@keyframes gyorsmotor {
    from {right: -80%}
    to {right: 40%}
}
@keyframes fordulas {
    0% {transform: scaleX(1);}
    49% {transform: scaleX(1);}
    50% {transform: scaleX(-1);}
    100% {transform: scaleX(-1);}
}